
header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid #9ba391 ;
    background-color: #599e6e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}   

h1 {
    font-size: 2rem;
    padding-top: 45px;
}

nav {
    font-size: 1.5rem;
    padding-top: 50px;
}

aside {
    width: 100%;
    border: 1px solid black;
}
footer {
    height: 50px;
    width: 100%;
    border-top: 10px solid #9ba391 ;
    background-color: #599e6e;
}
main {
    display: inline;

}

.graph {
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    flex: 1 0 100%;
    border: 1px solid black;
}    
    

@media screen and (min-width: 1000px) {
    main {
        display: flex;
    }
    
    aside {
        width: 50%;
        border-width: 3px;
    }

    .graphs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
        width: 100%;
    }
    .graph {
        padding: 2px;
        border-width: 3px ;
        

    }
}

@media screen and (min-width: 1500px) {
    .graphs {
        flex-direction: row;
    }
}