
:root {
    --primary-color: #3767d0;
    --secondary-color: #066182;
    --accent-color: #78baf0;
    --background-color: #bfdff1;
    --text-color: #000000;
    --button-color:rgb(223, 180, 99);  
    --button-hover-color:#cf7c1e; 
}
/* Fonts and text and whatot */
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6px;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid #78baf0 ;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}   

a {
    background-color: var(--button-color);
    border: 1px dashed var(--secondary-color);
}


nav {
    font-size: 1.5rem;
    padding-top: 50px;
}

/* Data Input/My Progress headers */
h2 {
    text-align: left;
    font-size: 38px;
    background-color: var(--button-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
}

/* This is for any text added. */
p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    text-align: center;
}

aside { 
    width: 100%;
    border: 1px solid var(--secondary-color);
}
footer {
    height: 50px;
    width: 100%;
    border-top: 10px solid var(--accent-color);
    background-color: var(--background-color);
    margin-top: 10px;
    align-items: center;
}
main {
    display: block;

}


label {
    margin-right: 10px;
}
input[type="number"] {
    display: inline-block;
    text-align: center;
}

/* food */
select[name="food"] {
  display: inline-block;
}
/* cardio */
select[name="cardio-selector"] {
    display: inline-block;
}

/* weights */
select[name="weights-selector"] {
   display: inline-block;
}

/* water */
select[name="water"] {
    display: inline-block;
    margin-right: 10px;
}

/* Sleep */
select[name="sleep-intake"] {
    display: inline-block;
    margin-right: 10px;
}

/* date */
select[name="date"] {
    display: inline-block;
    margin-right: 10px;
}

/* class styling */

.graph {
    height: 300px;
    width: 100%;
    flex-wrap: wrap;
    flex: 1 0 100%;
    border: 1px solid var(--secondary-color);
}    

/* styling for da data boxes  */
.data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    border: 1 px solid var(--primary-color);
    border-radius: 3px;
    background-color: whitesmoke;
}
.data-box label {
    font-size:1rem;
    color: var(--text-color);
    font-weight: bold;
    display: block;
}

/* submit button makeup yktd */
.data-box input[type="submit"] {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color:var(--button-color);
    color:var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}
.data-box input[type="submit"]:hover {
    background-color: var(--button-hover-color);
}


@media screen and (min-width: 1000px) {
    main {
        display: flex;
    }
    aside {
        width: 25%;
        border-width: 2px;
    }

    section {
        display: flex;
        flex-direction: column;
        height: 55px;
    
    }
  
    .graphs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 93%;
        width: 750px;
    }
    .graph {
        height: 100%;
        width: 37.5%;
        padding: 2px;
        border-width: 1px;
    }
}

@media screen and (min-width: 1200px) {
    html, body {
        padding: 0;
        margin: 0;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
    }

    aside {
        width: 25%
    } 
    
    section {
        display: flex;
        flex-direction: column;
        height: 55px;
    
    }
  
    .graphs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 93%;
        width: 1000px;
    }
    .graph {
        height: 100%;
        padding: 2px;
        border-width: 1.5px;
    }

}

